body{
    background-color: hsl(185, 75%, 39%);
    margin: 5px;
    width: 100%;
    height: 100%;
    background-image: url('images/bg-pattern-top.svg'),
                      url('images/bg-pattern-bottom.svg');
    background-position: -200px -350px, 1075px 350px ;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    overflow:hidden;

    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;    
}

.card{
    display: inline-block;
    border-radius: 0.5cm;
    height: 350px;
    width: 350px;
    position: relative;
    left: 750px;
    top: 250px;
    background-color: white;
}

.bg-pattern-card{
    border-top-left-radius: 0.5cm;
    border-top-right-radius: 0.5cm;
    position: absolute;
}

.image-victor{
    border: 5px solid white;
    border-radius: 5cm;
    position: absolute;
    left: 125px;
    top: 92px;
}

div.initials{
    position: absolute;
    left: 115px;
    top: 220px;
 }

span.name{
    font-weight: 700;
 }
span.age{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
 }

div.location{
    position: absolute;
    left: 150px;
    top: 250px;
    font-size: 14px;
    color: hsl(0, 0%, 59%);
}

div.counters{
    position: absolute;
    font-weight: 700;
    top: 300px;
 }

span.followers{
    position: absolute;
    left: 45px;
}
span.likes{
    position: absolute;
    left: 150px;
}
span.photos{
    position: absolute;
    left: 265px;
}

div.texts{
    position: absolute;
    top: 325px;
    font-size: 14px;
    color: hsl(0, 0%, 59%);
}

span.followers-text{
    position: absolute;
    left: 35px;
}

span.likes-text{
    position: absolute;
    left: 155px;
}

span.photos-text{
    position: absolute;
    left: 260px;
}